.admin-container {
  width: 100%;
  height: 47vw;
  padding: 10px;
  column-gap: 50px;
  row-gap: 50px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-child {
  color: #000000;
  padding: 50px;
  font-size: 30px;
  width: 100%;
  height: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title {
  color: #000000;
  font-family: "Pacifico", cursive;
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.Hi {
  width: 200px;
  font-size: 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.add-container {
  backdrop-filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
}
.form-container {
  /* background-color: red; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-form {
  width: 55%;
  border-radius: 9px;
  padding: 33px;
  background-color: rgba(255, 170, 0, 0.811);
  max-height: 500px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.add-form > label {
  color: #000000;
}
.form-header {
  display: flex;
  justify-content: space-between;
  color: #000000;
}
.select-mentor {
  width: 70%;
  height: 97%;
}

select {
  padding: 12px;
  border-radius: 7px;
}

select:hover {
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  cursor: pointer;
}
.trainee-data {
  height: 50%;
  width: 30%;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}
.mentor-main {
  width: 95%;
  height: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.single-trainee {
  background-color: rgb(16, 132, 86);
}
.Trainee-list {
  height: 75%;
  width: 38%;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 20px;
}
.personal-information {
  height: 60%;
  width: 30%;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
  padding: 8px;
}
.Trainee-board-title {
  /* background-color: bisque; */
  height: 15%;
  border-bottom: 1px solid black;
}
.Trainees-container {
  /* background-color: aquamarine; */
  height: 85%;
  position: relative;
  display: flex;

  flex-direction: column;
}
.single-trainee {
  background-color: #e7e7e79d;
  color: #0ba6b1;
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.single-trainee:hover {
  background-color: rgb(202, 202, 202);
}
.see-all {
  color: rgb(67, 125, 206);
  text-align: right;
  padding: 10px;
}
.mentor-image {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mentor-image > img {
  width: 52%;
  height: 100%;
}

.mentor-data {
  height: 40%;
  font-size: 16px;
}
.mentor-data > div {
  height: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
}
.trainee-view-container {
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
}
.task-layout {
  display: flex;
  flex-direction: column;
  min-height: inherit;
  width: 100%;
  color: #497174;
}
header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-right: 15;
}
.title {
  color: #497174;
  font-family: "Pacifico", cursive;
}
.welcome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15%;
}
.Hi {
  width: 200px;
  font-size: 1.3rem;
}

.tasks-main {
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex: 1 1 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main-child {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 17px;
  border-radius: 4px;
  height: max-content;
  min-height: 400px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
}
.new {
  background-color: #eff5f55a;
  color: #497174;
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 4px;
}
.new:hover {
  background-color: #4971745d;
}
.single-task {
  background-color: #d8d8d863;
  color: #497174;
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.single-task:hover {
  background-color: rgba(128, 128, 128, 0.204);
}
.btn-container {
  background-color: red;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
.Done-task {
  background-color: rgba(117, 216, 117, 0.59);
  color: #497174;
  margin-top: 10px;
  width: 100%;
  height: 45px;
  padding: 10px;
  border-radius: 4px;
}

.add-task-container {
  backdrop-filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-task-container {
  height: 100%;
  position: absolute;
  right: 0;
  background-color: #ffffff;

  width: 40%;
  bottom: 0;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 1s;
  padding: 23px;
  border-radius: 10px;
}
.single-task-container:hover {
  width: 42%;
}
.single-task-container-header {
  width: 100%;
  padding: 19px;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
.add-task-form {
  width: 30%;
  height: max-content;
  border-radius: 9px;
  padding: 33px;
  background-color: #eff5f5;
  max-height: 500px;
}
.add-task-form > input {
  border: 1px solid black;
}
.form-header {
  display: flex;
  justify-content: space-between;
}
.to-Do-container,
.in-progress-container,
.Done-container {
  color: rgb(79, 79, 79);
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.to-Do-container {
  background-color: rgb(211, 139, 117);
}
.in-progress-container {
  background-color: rgb(114, 190, 219);
}
.Done-container {
  background-color: rgb(122, 198, 122);
}
.data-container {
  height: 90%;
  padding: 10px;
}
.data-container > h2 {
  margin-bottom: 16px;
  color: black;
}
.data-container > h5 {
  margin-bottom: 16px;
  color: rgb(145, 145, 145);
}
.single-task-form {
  margin-top: 30px;
  color: black;
}
.single-task-form > h5 {
  color: rgba(128, 128, 128, 0.814);
}

.content-ta {
  height: 200px;
  color: black;
  border: none;
  display: none;
}

@media print, (min-width: 640px) {
  .jokes-header .logo {
    display: none;
  }

  .jokes-header .logo-medium {
    display: block;
  }

  .jokes-main {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (max-width: 639px) {
  .jokes-main .container {
    flex-direction: column;
  }
}
